html {
	background-color: #333;
	color: #fff;
	background-image: url(/app/img/it-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;

}

.container {
	max-width: 960px;
	margin: 0 auto 48px auto;
	padding: 0 12px; 
}
.time {
  font-family: "Nixie One", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
	letter-spacing: .1em;
	font-size: 200px;
	line-height: 200px;
	margin: 100px 0 0;
}
.fact {
  font-family: "Libre Baskerville", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 52px;
}


footer {
	margin-top: 300px;
	font-family: "Nixie One", "Helvetica", "Arial", sans-serif;
  opacity: .4;
  overflow: hidden;
  img {
    width: 10%;
    display: inline-block;
    float: left;
  }
  p, a {
    color: white;
    
  }
  p {
  	width: 90%;
  	float: left;
  	margin-bottom: 0;
  }
}

@media screen and (max-width: 762px)  {
	.time {
		font-size: 130px;
		line-height: 130px;
	}
	.fact {
		font-size: 30px;
  		line-height: 48px;
	}
}

@media screen and (max-width: 480px)  {
	.time {
		font-size: 100px;
		line-height: 100px;
	}
	.fact {
		font-size: 26px;
  		line-height: 42px;
	}
	.footer {
		margin-top: 200px;
	}
}